.head_slide{
    width:100%;
    height: 68vh;
    min-height: 400px;
    background: yellow;
    align-items: center;
    position: relative;
}

.head_slide .slides{
    height:100%;
    width: 100%;
    position:absolute;
    top:0;
    right: 0;
}
.head_slide .slides .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s
    /* transform: translate3d(-2000px, 0px, 0px); */
}
.head_slide .slides .slide .img_container{
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    background-color: #16161a;
}
.head_slide .slides .slide#img_container1 a div{
    background-image: url("../爱体育_澳洲爱体育直播网_澳洲足球直播_F1直播_CBA直播_NBA直播_中超直播_网球直播 - itiyu.tv_files/demo1.jpg");
}
.head_slide .slides .slide#img_container2 a div{
    background-image: url("../爱体育_澳洲爱体育直播网_澳洲足球直播_F1直播_CBA直播_NBA直播_中超直播_网球直播 - itiyu.tv_files/demo2.jpg");
    
}
.head_slide .slides .slide#img_container3 a div{
    background-image: url("../爱体育_澳洲爱体育直播网_澳洲足球直播_F1直播_CBA直播_NBA直播_中超直播_网球直播 - itiyu.tv_files/demo0.jpg");
    
}

.slide.active_slide{
    opacity: 1 !important;
}

.overlay_text{
    position: relative;
    width: 260px;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(22,22,26,0.20214023109243695) 0%, rgba(22,22,26,0.85) 25%, rgba(22,22,26,0.85) 75%, rgba(255,255,255,0.19784392458100564) 100%);
    top:0;
    right: -32vw;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 120%;
}
.overlay_text .slide_text{
    padding: 3px 20px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.overlay_text .slide_text .slide_small_text{
    position: absolute;
    font-weight: 100;
    font-size: 5%;
    opacity: 0;
    transition: all 0.3s;
}
.overlay_text .slide_text:hover{
    background-color: rgba(146, 58, 0, 0.3);
}

.overlay_text .slide_text.active_text{
    padding-bottom: 25px;
    background-color: rgba(146, 58, 0, 0.7);
    font-size: 130%;
    font-weight: 800;
}
.overlay_text .slide_text.active_text .slide_small_text{
    opacity: 1;
    font-size: 40%;
}

.head_slide::after{
    content: "";
    position:absolute;
    width:100%;
    height: 80px;
    bottom:0;
    background: rgb(22,22,26);
    background: linear-gradient(0deg, rgba(22,22,26,1) 0%, rgba(22,22,26,0) 100%);
}

@media only screen and (max-width:600px) {
    .overlay_text{
        width: 170px;
    }
}

@media only screen and (max-width:800px) {
    .overlay_text{
        right: -19vw;
    }
}

@media only screen and (min-width:2200px) {
    .overlay_text{
        left: 730px;
        width: 400px;
    }
}