.content_constrain{
    max-width: 1200px;
    /* background: rgb(85, 85, 85); */
    margin: auto;
}

.content_constrain .advertizement{
    padding: 5px 0px 10px 0px;
    overflow: hidden;
}

.tv_channels{
    background: whitesmoke;
    border-radius: 5px;
    margin:2px auto;
    padding: 4vh 4vw;
    box-sizing: border-box;
    width: 80%;
    position:relative;
    top:-15px;
    z-index: 9;
    -webkit-box-shadow: 0px 1px 15px 12px rgba(0,0,0,0.1); 
    box-shadow: 0px 1px 15px 12px rgba(0,0,0,0.1);
    
}
.tv_channels .channel_groups{
    display: flex;
    flex-direction: column;
}
.tv_channels .channel_groups ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;

}
.tv_channels .channel_groups ul:not(:first-child){
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 10px;
    padding-top: 10px;
}
.tv_channels .channel_groups ul li:first-child{
    background: #ffddc8;
}
.tv_channels .channel_groups ul:first-child li:first-child{
    background: #ff6600;
}
.tv_channels .channel_groups ul:first-child li:first-child span{
    color: white;
}

.tv_channels .channel_groups ul li{
    text-align: center;
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    margin:0 5px;
}
.tv_channels .channel_groups ul li span{
    color:black;
}
.tv_channels .channel_groups ul li span span.channel_more{
    padding: 2px 3px;
    background: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.tv_channels .channel_groups ul li span span.channel_less{
    padding: 2px 6px;
    background: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.tv_channels .channel_groups ul li a:hover span{
    color:rgb(0, 207, 0) !important;
}

@media only screen and (max-width:600px) {
    .tv_channels{
        width: 95%;
    }
}