.main_footer {
    height: 250px;
    width: 100%;
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 80%, rgba(214,214,214,0) 100%);
}
.main_footer .txt{
    position: relative;
    border-top: 2px solid #feae6d;
    width: 85%;
    height: 65%;
    top:35%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.main_footer .txt a{
    color: #777;
}

@media only screen and (max-width: 600px) {
    .main_footer .txt{
        font-size: 70%;
    }
}